<div id='graph-wrapper'></div>

<script>
  var commits = <%= raw @commits.to_json %>;
  var h = 600, w = 1000,
  repoName = $('.commits-graph').attr('id'),
  inputDateDomain = dateDomain(commits),
  commitsByFrequency = commitFrequencies(commits),
  outputCommitDomain = [0, maxCommitsInDay(commitsByFrequency)],
  barWidth = w/daysBetween(inputDateDomain);

  renderGraphCanvas(h, w);

  var barHeight = d3.scale.linear()
      .domain(outputCommitDomain)
      .range([0, h]);

  // this gives us an output from 0 to one less than the number
  // of days from first to last commit, this ensures scale
  // starting at zero, but with correct number of indecies
  var barIndex = d3.time.scale()
    .domain(inputDateDomain)
    .range([0, daysBetween(inputDateDomain) - 1]);

  // map bar indecies to x positions
  var barPosition = d3.scale.linear()
    .domain([0, daysBetween(inputDateDomain)])
    .range([0, w]);

  var canvas = d3.select('#graph-canvas');

  canvas.selectAll('rect')
    .data(commitsByFrequency)
    .enter()
    .append('rect')
    .attr('width',barWidth)
    .attr('height', function(data, index){
      return barHeight(data.length);
    })
    .attr('x', function(data, index){
      var date = commitDate(data[0]),
          index = barIndex(date),
          pos = barPosition(index);
      return pos;
    })
    .attr('y', function(data, index){
      return h - barHeight(data.length);
    })
    .on('mouseenter', function(data){
      $("#bar-info").html(data.length + " Commits on " + commitDate(data[0]));
    });
</script>
